{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid m-5 text-center">
        <h1>Liste des articles</h1>
        {% if users %}
            <a class="btn btn-primary" href="/article/add">Ajouter un article</a>
        {% endif %}
        {% for articles in article %}
            <div class="mt-5 text-center">
                <h2>{{ articles.title }}</h2>
                <p>{{ articles.content }}</p>
                <p>Créer le : {{ articles.createdAt|date('d-m-Y') }}</p>
                <a href="/article/{{ articles.id }}">Voir l'article</a>
                {% if articles.author_id == users.id %}
                    <a href="/article/modify/{{ articles.id }}">Modifier l'article</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}