{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5 text-center">
        <h2>Articles</h2>

        <div class="d-flex justify-content-around mt-5">
            {% for article in articles %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <hr>
                        <p class="card-text">Dernière modificatiopn : <br> {{ article.createdAt|date('d-m-Y') }}</p>
                        <hr>
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-primary btn-md" href="/admin/article/{{ article.id }}">Modifier</a>
                            <a class="btn btn-danger btn-md" href="/delete/article/{{ article.id }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mt-5 text-center">
        <h2>Utilisateurs</h2>

        <div class="d-flex justify-content-around mt-5">
            {% for user in allUsers %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <hr>
                        <p class="card-text">{{ user.email }}</p>
                        <hr>
                        {% if user.roles == "ROLE_USER" %}
                            <span class="badge bg-primary">Utilisateur</span>
                        {% else %}
                            <span class="badge bg-success">Administrateur</span>
                        {% endif %}
                        <hr>
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-danger" href="/delete/user/{{ user.id }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}